goodmoodDEV-docs/n8n-workflow-capture-and-analyze.json
{
  "name": "Street View Capture & AI Analysis",
  "nodes": [
    {
      "parameters": {},
      "id": "e8c9a3e5-8c6d-4a3f-9e2f-1a4b5c6d7e8f",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "address",
              "value": "Eiffel Tower, Paris, France"
            },
            {
              "name": "analyses",
              "value": "description,object_detection,ocr"
            }
          ],
          "boolean": [
            {
              "name": "headless",
              "value": true
            }
          ],
          "number": [
            {
              "name": "quality",
              "value": 85
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Set Input Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "Configure address and capture settings"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/capture",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 60000
        },
        "bodyParametersJson": "={\n  \"address\": \"{{ $json.address }}\",\n  \"headless\": {{ $json.headless }},\n  \"quality\": {{ $json.quality }}\n}"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Capture Street View",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "notes": "Call streetview-capture API to get screenshot"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Capture Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "filename",
              "value": "={{ $json.data.filename }}"
            },
            {
              "name": "address",
              "value": "={{ $json.data.metadata.address }}"
            },
            {
              "name": "analyses_to_run",
              "value": "={{ $node[\"Set Input Parameters\"].json.analyses }}"
            }
          ],
          "object": [
            {
              "name": "coordinates",
              "value": "={{ $json.data.metadata.coordinates }}"
            },
            {
              "name": "capture_metadata",
              "value": "={{ $json.data.metadata }}"
            }
          ]
        }
      },
      "id": "d4e5f6a7-b8c9-0123-def1-234567890123",
      "name": "Extract Filename",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1050, 200],
      "notes": "Get filename from capture response"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "e5f6a7b8-c9d0-1234-ef12-345678901234",
      "name": "Wait for File",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1250, 200],
      "notes": "Ensure file is written to disk"
    },
    {
      "parameters": {
        "url": "http://localhost:8000/analyze",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "bodyParametersJson": "={\n  \"filename\": \"{{ $json.filename }}\",\n  \"analyses\": {{ $json.analyses_to_run.split(',') }}\n}"
      },
      "id": "f6a7b8c9-d0e1-2345-f123-456789012345",
      "name": "Analyze Image with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 200],
      "notes": "Call image-processor API for AI analysis"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.image_id !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a7b8c9d0-e1f2-3456-1234-567890123456",
      "name": "Analysis Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "filename",
              "value": "={{ $json.filename }}"
            },
            {
              "name": "address",
              "value": "={{ $node[\"Extract Filename\"].json.address }}"
            },
            {
              "name": "model_used",
              "value": "={{ $json.model }}"
            }
          ],
          "number": [
            {
              "name": "image_id",
              "value": "={{ $json.image_id }}"
            },
            {
              "name": "processing_time_ms",
              "value": "={{ $json.processing_time_ms }}"
            }
          ],
          "object": [
            {
              "name": "analysis_results",
              "value": "={{ $json.results }}"
            },
            {
              "name": "capture_metadata",
              "value": "={{ $node[\"Extract Filename\"].json.capture_metadata }}"
            }
          ]
        }
      },
      "id": "b8c9d0e1-f2a3-4567-2345-678901234567",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1850, 100],
      "notes": "Combine all results into final output"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "error_message",
              "value": "Capture failed"
            },
            {
              "name": "address",
              "value": "={{ $node[\"Set Input Parameters\"].json.address }}"
            }
          ],
          "object": [
            {
              "name": "error_details",
              "value": "={{ $json }}"
            }
          ]
        }
      },
      "id": "c9d0e1f2-a3b4-5678-3456-789012345678",
      "name": "Capture Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1050, 400],
      "notes": "Handle capture failure"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "error_message",
              "value": "Analysis failed"
            },
            {
              "name": "filename",
              "value": "={{ $node[\"Extract Filename\"].json.filename }}"
            }
          ],
          "object": [
            {
              "name": "error_details",
              "value": "={{ $json }}"
            }
          ]
        }
      },
      "id": "d0e1f2a3-b4c5-6789-4567-890123456789",
      "name": "Analysis Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1850, 300],
      "notes": "Handle analysis failure"
    },
    {
      "parameters": {},
      "id": "e1f2a3b4-c5d6-7890-5678-901234567890",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [2050, 200]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Set Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Parameters": {
      "main": [
        [
          {
            "node": "Capture Street View",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Street View": {
      "main": [
        [
          {
            "node": "Capture Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Success?": {
      "main": [
        [
          {
            "node": "Extract Filename",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Filename": {
      "main": [
        [
          {
            "node": "Wait for File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for File": {
      "main": [
        [
          {
            "node": "Analyze Image with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image with AI": {
      "main": [
        [
          {
            "node": "Analysis Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Success?": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analysis Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Error": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analysis Error": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-11T13:00:00.000Z",
  "versionId": "1"
}
