goodmoodDEV-docs/n8n-workflow-batch-analysis.json
{
  "name": "Batch Street View Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "1a2b3c4d-5e6f-7890-abcd-ef1234567890",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "notes": "Run daily at 2 AM"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "addresses",
              "value": "Eiffel Tower Paris,Brandenburg Gate Berlin,Big Ben London,Colosseum Rome,Times Square New York"
            }
          ]
        }
      },
      "id": "2b3c4d5e-6f7a-8901-bcde-f12345678901",
      "name": "Address List",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "List of addresses to process"
    },
    {
      "parameters": {
        "fieldName": "addresses",
        "fieldValue": "={{ $json.addresses }}",
        "separator": ","
      },
      "id": "3c4d5e6f-7a8b-9012-cdef-123456789012",
      "name": "Split Addresses",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "current_address",
              "value": "={{ $json.addresses }}"
            }
          ]
        }
      },
      "id": "4d5e6f7a-8b9c-0123-def1-234567890123",
      "name": "Format Address",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/capture",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 60000
        },
        "bodyParametersJson": "={\n  \"address\": \"{{ $json.current_address }}\",\n  \"headless\": true,\n  \"quality\": 85\n}"
      },
      "id": "5e6f7a8b-9c0d-1234-ef12-345678901234",
      "name": "Capture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "6f7a8b9c-0d1e-2345-f123-456789012345",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/analyze",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "bodyParametersJson": "={\n  \"filename\": \"{{ $json.data.filename }}\",\n  \"analyses\": [\"description\", \"object_detection\"]\n}"
      },
      "id": "7a8b9c0d-1e2f-3456-1234-567890123456",
      "name": "Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "address",
              "value": "={{ $node[\"Format Address\"].json.current_address }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.filename }}"
            },
            {
              "name": "status",
              "value": "processed"
            }
          ],
          "number": [
            {
              "name": "image_id",
              "value": "={{ $json.image_id }}"
            },
            {
              "name": "processing_time_ms",
              "value": "={{ $json.processing_time_ms }}"
            }
          ],
          "object": [
            {
              "name": "results",
              "value": "={{ $json.results }}"
            }
          ]
        }
      },
      "id": "8b9c0d1e-2f3a-4567-2345-678901234567",
      "name": "Collect Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "9c0d1e2f-3a4b-5678-3456-789012345678",
      "name": "Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1850, 300],
      "notes": "Avoid overwhelming services"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0d1e2f3a-4b5c-6789-4567-890123456789",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "summary",
              "value": "=Processed {{ $json.length }} locations"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ],
          "object": [
            {
              "name": "results",
              "value": "={{ $json }}"
            }
          ]
        }
      },
      "id": "1e2f3a4b-5c6d-7890-5678-901234567890",
      "name": "Final Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2250, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Address List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Address List": {
      "main": [
        [
          {
            "node": "Split Addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Addresses": {
      "main": [
        [
          {
            "node": "Format Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Address": {
      "main": [
        [
          {
            "node": "Capture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze": {
      "main": [
        [
          {
            "node": "Collect Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Result": {
      "main": [
        [
          {
            "node": "Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit": {
      "main": [
        [
          {
            "node": "Split Addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Addresses": {
      "main": [
        null,
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-11T13:00:00.000Z",
  "versionId": "1"
}
